<h1>Hello </h1>

<button id="saveLocation">Save location</button>
<a href="/favoritesPlaces">List of your favorites places </a>
<a href="/logout">Logout</a>

{{!-- {{#if user}}
<h1>Welcome  {{user.username}} 👋</h1>
<button id="saveLocation">Save location</button>
<a href="/favoritesPlaces">List of your favorites places </a>
<a href="/logout">Logout</a>
{{/if}} --}}