

<!--nav-->
<section class="flexbox nav ">
<a href="/logout">Logout</a>
<h2 class="logo">Wander</h2>

 <!--sidebar-->
 <section class="flexbox ">
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fa fa-bars" aria-hidden="true" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Save your Place      
    </header>
        <div class ="search-bar ">
             <div id="geocoder" class="geocoder"></div>
          <a href="/favoritesPlaces" >
          <button id="saveLocation" >Save location</button></a>
           </div>
    <div class="profile-card">
      <div class="card-header">
        <div class="pic">
          <img src="pic.png" alt="">
        </div>
        <div class="name"> Welcome Lila</div>

    
        <!--<div class="desc">Developer & Designer</div> -->
        <div class="sm">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-github"></a>
          <a href="#" class="fab fa-youtube"></a>
        </div>
        <!--<a href="#" class="contact-btn">Click me</a>
      </div>-->
      <div class="card-footer ">
        <div class="numbers">
          <div class="item">
            <span>120</span>
            Places
          </div>
          <div class="border"></div>
          <div class="item">
            <span>127</span>
            Following
          </div>
          <div class="border"></div>
          <div class="item">
            <span>120K</span>
            Followers
          </div>
        </div>
      </div>
    </div>

   
   </section>

     </section>
  
  


