<h1>Edit this place</h1>
<div>{{place.name}}</div>
{{#with place}}
<form action="/favoritesPlaces/{{_id}}/edit" method="POST">
  <label for="description">description: </label>
  <input type="description" name="description" id="description" value="{{description}}">

  <label for="tag">Tag:</label>
  <select name="tag" id="tag">
    <option selected> Choose...</option>
    <option value="Food">Food</option>
    <option value="Bar">Bar</option>
    <option value="Park">Park</opption>
    <option value="Sports">Sports</option>
    <option value="Culture">Culture</option>
    <option value="Club">Club, Party!!!</option>
  </select>

  <label for="rating">Rating: </label>
  <input type="number" name="rating" id="rating" value="{{rating}}">

  <button id="saveTag" type="submit">Update the place</button>
</form>
{{/with}}

<button type="submit">Delete</button>


