


<section class="flexbox nav ">
   <h2 class="logo">Wander</h2>

 <section class="flexbox ">
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fa fa-bars" aria-hidden="true" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Save your Place      
    </header>
        <div class ="search-bar ">
             <div id="geocoder" class="geocoder"></div>
          <a href="/favoritesPlaces" >
          <button id="saveLocation" >Save location</button></a>
           </div>
    <div class="profile-card">
      <div class="card-scrollbar">
        <div class="name"> your list </div>
        {{#each places}}
<a href="/favoritesPlaces/{{this._id}}"><h1>{{name}}</h1></a>
<p>{{address}}</p>
{{!-- <form action="/favoritesPlaces/{{ this._id }}/delete" method="POST">
<button type="submit">Delete</button> --}}
</form> 
{{/each}}

 </div>
      <div class="card-footer">
        <div class="numbers">     
          <div class="border"></div>  
          <div class="border"></div>
  <a href="/" class=> go back</a>
          </div>
        </div>
      
  




     </div>
   
   </section>

     </section>
  
  